<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boboface.ads.mapper.TBobofaceAdsServerMapper" >
  <resultMap id="BaseResultMap" type="com.boboface.ads.model.po.TBobofaceAdsServer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="serverIp" property="serverip" jdbcType="VARCHAR" />
    <result column="addTime" property="addtime" jdbcType="INTEGER" />
  </resultMap>
</mapper>